:root {
  font-family: 'Roboto', sans-serif;
  color-scheme: light;
  --md-sys-color-background: #f5f5f5;
  --md-sys-color-on-background: #1d1b20;
  --md-sys-color-surface: #ffffff;
  --md-sys-color-on-surface: #1d1b20;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

#app {
  width: 100%;
  height: 100%;
}
